<div class="media" style="margin-bottom:5px;">
  <% if activity.trackable.picture? %>
    <a href="" class="thumbnail">
      <%= image_tag(activity.trackable.picture_url(:tinythumbnail), :alt => activity.trackable.name) %>
    </a>
  <% end %>
  <div class="media-body">
  	<span><%= time_ago_in_words(activity.trackable.created_at) %> ago</span>
    <h5 class="media-heading">
      <% if activity.trackable %>
        <%= link_to activity.trackable.name, activity.trackable %> was entered by <%= link_to activity.owner.email, admin_user_path(activity.owner) if activity.owner %>
      <% else %>
        which has since been removed
      <% end %>
    </h5>
  </div>
</div>