<%= fields_for :residence_location, @residencelocation do |rlf| %>  
  <div class="control-group">
    <div class="controls">
     <label for="tags">Address: </label>
     <input id="query_residence_location" name="query_residence_location"> 
    </div>
  </div>
<% end %>
