<%= fields_for :residence_location, @residencelocation do |rlf| %>  
  <div class="control-group">
    <div class="controls">
     <label for="tags">Address: </label>
     <input id="query_residence_location" name="query_residence_location"> 
     <input type="hidden" id="residence_location_id" name="residence_location[id]">
    </div>
  </div>
<% end %>
