<div class="col-lg-12 col-md-12">
  <div class="page-header">
    <h3><%= @location.description %></h3>
  </div> 
  <p>ID: <%= @location.id %></p>
  <P>Area: <%= @location.area %></p>
  <p>Unit: <%= @location.unit %></p>
</div>