<%- model_class = Animal -%>
<%= render :partial => 'admin/application/form_errors', locals: {object:@animal}  %>
<div class="col-lg-12 col-md-12">

<%= render :partial => 'card' %>

<%= render :partial => 'form' %>

</div>