<% if object.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <b>There was a problem saving this form. Please correct the information below and try submitting again.</b>
  </div>
<% end %>