<%- model_class = Animal -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class="page-header">
        <h1>We have <%= @animals.count %> animals</h1>
      </div>

     <!-- BEGIN List of adobtables -->
     <%= render 'animals/gallery' %>
     <!-- END List of adoptables -->
           
    </div>

  </div>
</div>